# NODE_ENV=development

# NEXT_PUBLIC_ENABLE_WEB_VITALS=1

# NEXT_PUBLIC_BASE_URL=https://api.ojmultimedia.com
# NEXT_SERVER_BASE_URL=https://api.ojmultimedia.com

# NEXT_PUBLIC_LIVE_URL=https://www.ojmultimedia.com
# NEXT_PUBLIC_GOOGLE_CLIENT_ID=jidji393482309a2330l
